:root {
    --primary-colour: lightblue;
    --border-colour: lightgray;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    background-color: var(--primary-colour);
}

main, #forecast-cards {
    display: flex;
}

h1, h2, h3 {
    font-weight: 500;
}

h2 {
    font-size: 3rem;
    font-weight: 500;
}

h3 {
    font-size: 2.5rem;
}

header {
    display: flex;
    align-items: center;
}

#forecast-cards {
    display: flex;
    justify-content: left;
}

.forecast-date {
    font-weight: 700;
    font-size: 16px;
}

#today-date {
    font-size: 3rem;
    font-weight: 100;
}

.card {
    background-color: rgb(30, 30, 61);
    color: white;
    padding: 5px 10px;
    margin: 5px 10px 5px 0px;
    width: 20%;
    box-sizing: border-box;
}

.previous-cities {
    display: block;
}

#city-search-input, #city-search-button, .previous-cities {
    width: 100%;
}

#city-search-button {
    background-color: rgb(83, 83, 179);
    border: none;
    color: white;
}

#city-search {
    border-bottom: 1px solid grey;
}

#previous-searches {
    margin-top: 40px;
}

main {
    padding-top: 30px;
}